*{margin:0px; padding:0px;}
body {
    /* background: #f7f5f1; */
    widtdh: 1170px;
    margin: 0 auto;
    border: 3px solid #3b733b;
	overflow:hidden;
}
div#main_div {
    overflow: hidden;
	
}



.first_div {
   
    height: 150px;
    border: 1px solid #824d4d;
}
.logo {
    width:150px;
    float: left;
	padding-left:10px;
}
img {
    width: 100%;
}
.first_content1 {
    width: 1100px;
    float: right;
    text-align: center;
	height:150px;
	line-height:35px;
	margin-top:2px
}
span.first_content2 {
	;
    font-size: 30px;
    width: 100%;
    color: #0e770e;
	 
}
span.first_content3 {
    font-size: 30px;
    width: 100%;
    color: red;
}
span.first_content4 {
    font-size: 20px;
    color: #4f92e4;
}

span.first_content5 {
    color: #563e3e;
    font-size: 15px;
}



div#seconddiv {
    border: 1px solid #968c8c;
}
nav#nav1 {
    width: 100%;
    height: 60px;
    background: #1d7f0a;
	padding: 0px 30px;
}
nav#nav1 ul li {
    display:inline-block;
    width: 120px;
	 text-align:center;
	height:60px;
	line-height:60px;
}
nav#nav1 ul li a{text-decoration:none;
				font-size:23px;
				color:white;}


nav#nav1 ul li:hover{background:black;
					color:green;
					}
nav#nav1 ul ul{position:absolute;}
nav#nav1 ul ul li{background:#DCDCDC;
				display:none;
				position:relative;
				 
				}

nav#nav1 ul ul li a{width:200px;
					font-size:15px;
					}

nav#nav1 ul li:hover ul li{display:block;}




div#third_div {
    width: 188px;
    float: left;
}

li.left_li {
    border: 1px solid white;
    background: #4444b1;
	width:100%;
	height:25.5px;
}

li.left_li a{color:white;
				font-size:20px;
				text-decoration:none;
				padding:5px;}
 



div#four_div {
	border:2px solid #888;
    width: 900px;
    float:left;
}
.img_div3 {
    width: 100%;
	 
}
marquee {
font-size: 30px;
padding: 20px;
color: rgb(55, 68, 212);
}
span#mid_closetitle {
font-size: 30px;
text-align: center;
}
span#mid_closetitle {
font-size: 30px;
text-align: center;
margin-left: 80px;
color: #888;
}
div.p_div {
height: 300px;
}
p {
padding: 0 20px;
 
}


div#five_div {
    width: 268px;
    float:left;
	

line-height:28px;
border-bottom:1px solid #888;	
	
}

div.content_div {
width: 100%;
float: right;
margin-top:10px ;
}
big#Notics1 {
	margin-top:20px !important;
text-align: center;
color: white;
background: rgb(21, 21, 238);
padding: 10px;
 margin-left:70px;
 height:10px;
}

big {
padding-left: 10px;
color: rgb(152, 167, 164);
}



div#six_div {
    width: 270px;
    float:left;
	margin-top:15px;
line-height:28px;
	
}

div.content_div {
width: 100%;
float: right;
margin-top:10px ;
}
big#job1 {
margin-top: 20px !important;
text-align: center;
color: white;
background: rgb(30, 30, 82);
padding: 10px;
margin-left: 70px;
height: 10px;
}

big {
padding-left: 10px;
color: rgb(152, 167, 164);
}

big#six_big {
color: rgb(125, 27, 216);

}
















